<?xml version="1.0"?>
<launch>
  <arg name="level" default="1"/>
  <arg name="gui" default="true" />
  <arg name="controller" default="false" />

  <!-- level 1 (default) -->
  <group if="$(eval level==1)"> 
    <include file="$(find sim_environment)/launch/wheel_robot_with_surveillance.launch">
      <arg name="track_name" value="medium_track_plane.world" />
      <arg name="gui" value="$(arg gui)" />
      <arg name="controller" value="$(arg controller)" />
      <arg name="dynamic_recon" value="false" />
      <arg name="with_auto_recovery" value="false" />
    </include>  
  </group>

  <!-- level 1t (level1 advanced) -->
  <group if="$(eval level=='1t')">
    <include file="$(find sim_environment)/launch/wheel_robot_with_surveillance.launch">
      <arg name="track_name" value="medium_track_plane_w_transparent_wall.world" />
      <arg name="gui" value="$(arg gui)" />
      <arg name="controller" value="$(arg controller)" />
      <arg name="dynamic_recon" value="True" />
      <arg name="with_auto_recovery" value="true" />
    </include>
  </group>

  <!-- level 1a (level1 advanced) -->
  <group if="$(eval level=='1a')">
    <include file="$(find sim_environment)/launch/wheel_robot_with_surveillance.launch">
      <arg name="track_name" value="medium_track_plane_w_wall.world" />
      <arg name="gui" value="$(arg gui)" />
      <arg name="controller" value="$(arg controller)" />
      <arg name="dynamic_recon" value="True" />
      <arg name="with_auto_recovery" value="true" />
    </include>
  </group>
  
  <!-- level 2 (if you want to run , set launch arg level=2 --> 
  <group if="$(eval level==2)"> 
    <include file="$(find sim_environment)/launch/wheel_robot_with_surveillance.launch">
      <arg name="track_name" value="medium_track.world" />
      <arg name="gui" value="$(arg gui)" />
      <arg name="controller" value="$(arg controller)" />
      <arg name="dynamic_recon" value="false" />
      <arg name="with_auto_recovery" value="false" />
    </include>  
  </group>

  <!-- level 3 (if you want to run , set launch arg level=3 --> 
  <group if="$(eval level==3)"> 
    <include file="$(find sim_environment)/launch/wheel_robot_with_surveillance.launch">
      <arg name="track_name" value="hard_track.world" />
      <arg name="gui" value="$(arg gui)" />
      <arg name="controller" value="$(arg controller)" />
      <arg name="dynamic_recon" value="false" />
      <arg name="with_auto_recovery" value="false" />
    </include>  
  </group>

</launch>

