<?xml version="1.0"?>
<launch>
  <arg name="arrow" default="true" />
  <arg name="level" default="1"/>
  <arg name="gui" default="true" />
  <arg name="controller" default="false" />
  <arg name="record" default="false" />
  <arg name="play" default="false" />
  <arg name="collision_detection_cone_width" default="0.2" />
  <arg name="random_cone_placement" default="false" />


  <!-- level 1 (default) -->
  <group if="$(eval level==1)"> 
    <include file="$(find sim_environment)/launch/wheel_robot_with_surveillance.launch">
      <arg name="track_name" value="medium_track_plane.world" />
      <arg name="gui" value="$(arg gui)" />
      <arg name="controller" value="$(arg controller)" />
      <arg name="dynamic_recon" value="false" />
      <arg name="with_auto_recovery" value="false" />
      <arg name="collision_detection" value="false" />
      <arg name="arrow" value="$(arg arrow)" />
      <arg name="record" value="$(arg record)" />
      <arg name="play" value="$(arg play)" />
    </include>  
  </group>

  <!-- level 1t (level1 advanced) -->
  <group if="$(eval level=='1t')">
    <include file="$(find sim_environment)/launch/wheel_robot_with_surveillance.launch">
      <arg name="track_name" value="medium_track_plane_w_transparent_wall.world" />
      <arg name="gui" value="$(arg gui)" />
      <arg name="controller" value="$(arg controller)" />
      <arg name="dynamic_recon" value="True" />
      <arg name="with_auto_recovery" value="true" />
      <arg name="collision_detection" value="false" />
      <arg name="arrow" value="$(arg arrow)" />
      <arg name="record" value="$(arg record)" />
      <arg name="play" value="$(arg play)" />
    </include>
  </group>

  <!-- level 1a (level1 advanced) -->
  <group if="$(eval level=='1a')">
    <include file="$(find sim_environment)/launch/wheel_robot_with_surveillance.launch">
      <arg name="track_name" value="medium_track_plane_w_wall.world" />
      <arg name="gui" value="$(arg gui)" />
      <arg name="controller" value="$(arg controller)" />
      <arg name="dynamic_recon" value="True" />
      <arg name="with_auto_recovery" value="true" />
      <arg name="collision_detection" value="false" />
      <arg name="arrow" value="$(arg arrow)" />
      <arg name="record" value="$(arg record)" />
      <arg name="play" value="$(arg play)" />
    </include>
  </group>
  
  <!-- level 2 (if you want to run , set launch arg level=2 --> 
  <group if="$(eval level==2)"> 
    <include file="$(find sim_environment)/launch/wheel_robot_with_surveillance.launch">
      <arg name="track_name" value="medium_track.world" />
      <arg name="gui" value="$(arg gui)" />
      <arg name="controller" value="$(arg controller)" />
      <arg name="dynamic_recon" value="false" />
      <arg name="with_auto_recovery" value="false" />
      <arg name="collision_detection" value="false" />
      <arg name="arrow" value="$(arg arrow)" />
      <arg name="record" value="$(arg record)" />
      <arg name="play" value="$(arg play)" />
    </include>  
  </group>

  <!-- level 3 (if you want to run , set launch arg level=3 --> 
  <group if="$(eval level==3)"> 
    <include file="$(find sim_environment)/launch/wheel_robot_with_surveillance.launch">
      <arg name="track_name" value="hard_track.world" />
      <arg name="gui" value="$(arg gui)" />
      <arg name="controller" value="$(arg controller)" />
      <arg name="dynamic_recon" value="false" />
      <arg name="with_auto_recovery" value="false" />
      <arg name="collision_detection" value="false" />
      <arg name="arrow" value="$(arg arrow)" />
      <arg name="record" value="$(arg record)" />
      <arg name="play" value="$(arg play)" />
      <arg name="robot_pos" value="-x 1.8 -y 0.6 -z 0.03 -Y 0.0"/>
      <arg name="camera_pos" value="-x 2.0 -y 0.12 -z 0.13 -Y 1.57"/>
      <arg name="godeye_pos" value="-x 3.3 -y 2.3 -z 0.0 -Y 1.57"/>
    </include>  
  </group>

  <!-- level l (if you want to run , set launch arg level=s --> 

    
  <group if="$(eval level=='l')"> 
    <group if="$(eval random_cone_placement==false)">
      <include file="$(find sim_environment)/launch/wheel_robot_with_surveillance.launch">
        <arg name="track_name" value="medium_track_plane_w_wall_large.world" />
        <arg name="track_size_yaml" value="course_size_large.yaml"/>      
        <arg name="gui" value="$(arg gui)" />
        <arg name="controller" value="$(arg controller)" />
        <arg name="dynamic_recon" value="True" />
        <arg name="with_auto_recovery" value="true" />    <!--  for large field debug -->
        <arg name="collision_detection" value="true" />
        <arg name="collision_detection_cone_width" value="$(arg collision_detection_cone_width)" />
        <arg name="random_cone_placement" value="$(arg random_cone_placement)" />
        <arg name="arrow" value="$(arg arrow)" />
        <arg name="record" value="$(arg record)" />
        <arg name="play" value="$(arg play)" />
        <arg name="robot_pos" value="-x 5.75 -y 0 -z 0 -Y 1.57"/>
        <arg name="camera_pos" value="-x 5.15 -y 0 -z 0 -Y 0.0"/>
        <arg name="godeye_pos" value="-x 0 -y 0 -z 4.0 -Y 0.0"/>
        <arg name="perspective" value="3" />
      </include>  
    </group>
    <group if="$(eval random_cone_placement!=false)">
      <include file="$(find sim_environment)/launch/wheel_robot_with_surveillance.launch">
        <arg name="track_name" value="medium_track_plane_w_wall_large_for_random.world" />
        <arg name="track_size_yaml" value="course_size_large.yaml"/>      
        <arg name="gui" value="$(arg gui)" />
        <arg name="controller" value="$(arg controller)" />
        <arg name="dynamic_recon" value="True" />
        <arg name="with_auto_recovery" value="true" />    <!--  for large field debug -->
        <arg name="collision_detection" value="true" />
        <arg name="collision_detection_cone_width" value="$(arg collision_detection_cone_width)" />
        <arg name="random_cone_placement" value="$(arg random_cone_placement)" />
        <arg name="arrow" value="$(arg arrow)" />
        <arg name="record" value="$(arg record)" />
        <arg name="play" value="$(arg play)" />
        <arg name="robot_pos" value="-x 5.75 -y 0 -z 0 -Y 1.57"/>
        <arg name="camera_pos" value="-x 5.15 -y 0 -z 0 -Y 0.0"/>
        <arg name="godeye_pos" value="-x 0 -y 0 -z 4.0 -Y 0.0"/>
        <arg name="perspective" value="3" />
      </include>  
    </group>
  </group>

  <!-- level 1f (if you want to run , set launch arg level=s --> 
  <group if="$(eval level=='1f')"> 
    <include file="$(find sim_environment)/launch/wheel_robot_with_surveillance.launch">
      <arg name="track_name" value="medium_track_plane_w_wall_fall.world" />
      <arg name="track_size_yaml" value="course_size_small.yaml"/>
      <arg name="gui" value="$(arg gui)" />
      <arg name="controller" value="$(arg controller)" />
      <arg name="dynamic_recon" value="True" />
      <arg name="with_auto_recovery" value="false" />
      <arg name="collision_detection" value="false" />
      <arg name="arrow" value="$(arg arrow)" />
      <arg name="record" value="$(arg record)" />
      <arg name="play" value="$(arg play)" />
      <arg name="perspective" value="2" />
    </include>  
  </group>

  <!-- level s (if you want to run , set launch arg level=s --> 
  <group if="$(eval level=='1c')"> 
    <include file="$(find sim_environment)/launch/wheel_robot_with_surveillance.launch">
      <arg name="track_name" value="medium_track_plane_w_wall_cherry.world" />
      <arg name="track_size_yaml" value="course_size_small.yaml"/>
      <arg name="gui" value="$(arg gui)" />
      <arg name="controller" value="$(arg controller)" />
      <arg name="dynamic_recon" value="True" />
      <arg name="with_auto_recovery" value="false" />
      <arg name="collision_detection" value="false" />
      <arg name="arrow" value="$(arg arrow)" />
      <arg name="record" value="$(arg record)" />
      <arg name="play" value="$(arg play)" />
      <arg name="perspective" value="2" />
    </include>  
  </group>

  <!-- level 1s (if you want to run , set launch arg level=s --> 
  <group if="$(eval level=='1s')"> 
    <include file="$(find sim_environment)/launch/wheel_robot_with_surveillance.launch">
      <arg name="track_name" value="medium_track_plane_w_wall_summer.world" />
      <arg name="track_size_yaml" value="course_size_small.yaml"/>
      <arg name="gui" value="$(arg gui)" />
      <arg name="controller" value="$(arg controller)" />
      <arg name="dynamic_recon" value="True" />
      <arg name="with_auto_recovery" value="false" />
      <arg name="collision_detection" value="false" />
      <arg name="arrow" value="$(arg arrow)" />
      <arg name="record" value="$(arg record)" />
      <arg name="play" value="$(arg play)" />
      <arg name="perspective" value="2" />
    </include>  
  </group>

  <!-- level 12 (if you want to run , set launch arg level=s --> 
  <group if="$(eval level=='1w')"> 
    <include file="$(find sim_environment)/launch/wheel_robot_with_surveillance.launch">
      <arg name="track_name" value="medium_track_plane_w_wall_winter.world" />
      <arg name="track_size_yaml" value="course_size_small.yaml"/>
      <arg name="gui" value="$(arg gui)" />
      <arg name="controller" value="$(arg controller)" />
      <arg name="dynamic_recon" value="True" />
      <arg name="with_auto_recovery" value="false" />
      <arg name="collision_detection" value="false" />
      <arg name="arrow" value="$(arg arrow)" />
      <arg name="record" value="$(arg record)" />
      <arg name="play" value="$(arg play)" />
      <arg name="perspective" value="2" />
    </include>  
  </group>
</launch>

